.carousel.slide .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #C92071;
}

.carousel.slide .carousel-control-prev-icon {
    display: none;
}
.carousel.slide .carousel-control-next-icon {
    display: none;
}

.carousel.slide img{
    width: 500px;
    height: 500px;
}

.carousel-caption{
    display: flex;
}

.carousel.slide link {
    background-color: #C92071;
}